/kicad/boardloaf-backups
kicad/boardloaf.kicad_prl
kicad/fp-info-cache
kicad/~boardloaf.kicad_sch.lck
kicad/~boardloaf.kicad_pcb.lck
kicad/fp-755C.tmp
kicad/\#auto_saved_files\#
kicad/_autosave-boardloaf.kicad_sch
